/* Write your CSS here */
.fruits-counter-container {
  display: flex;
  justify-content: center;

  background-color: #ffd569;
  min-height: 100vh;
  padding: 25px;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  width: 50%;
  border-radius: 15px;
  margin: 30px;
}
.heading {
  font-family: 'Roboto';
  font-size: 35px;
  font-weight: 700;
  color: #000000;
}

.fruits-container {
  display: flex;
}

.fruit-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.image {
  width: 40%;
  margin-bottom: 25px;
}
.button {
  font-family: 'Roboto';
  font-size: 12px;
  color: #ffffff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  height: 30px;
  min-width: 70px;
}
.span-element {
  color: #ffd569;
}
